<!DOCTYPE html>
<html lang="en">
<HEAD>
<META NAME="author" content="Lutz Tautenhahn">
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<TITLE>LT-PGN-EDITOR</TITLE>
<FRAMESET cols="450,*" border=1 frameborder=1 framespacing=1>
<frame src="pgnboard.html?AllowRecording=true" name="board" scrolling=auto>
<FRAMESET rows="254,*" border=1 frameborder=1 framespacing=1>
<frame src="pgneditor_input.html" name="pgninput" scrolling=auto>
<!-- <frame src="http://localhost/pgnviewer/pgneditor_help.html" name="htmloutput" scrolling=auto> -->
</FRAMESET>
<NOFRAMES>
</HEAD>
<BODY>
</BODY>
</NOFRAMES>
</FRAMESET>
</HTML>
